.header__lang-link {
    font-size: 1.22em;
    font-weight: 400;
    color: #FFFF;
    text-decoration-line: underline;
}

.header__lang-link:last-of-type {
    text-decoration-line: none;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        margin: 14px 0 8px;
    }
}