.footer__link {
    color: #fff;
    display: block;
    font-size: 1.5em;
    line-height: 1;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__link:hover {
    opacity: .8;
}

@media (min-width: 768px) {
    .footer__link {
        font-size: 1em;
        line-height: 1.12;
        margin: 0 18px 0 0;
    }
}

@media (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 0 0 32px;
    }
}