.cover {
    border: 1px solid red;
    margin: 0;
    background-image: url(../../images/cover-trains.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

    .cover:after {
        content: "";
        width: 0;
        height: 0;
        padding-top: calc(740 / 1184 * 100%);
    }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin: 20px 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        margin: 20px 48px 0;
    }
}
