.cover__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    padding: 16px;
    color: #FFFF;
    position: relative;
    background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay::before {
    content:"";
    transition: opacity .5s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cover__overlay:hover::before {
    background-color: rgba(42, 44, 47, 0.8);

}
