.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../../sprint-3-images/cover-trains.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    z-index: 0;
    text-decoration: none;
    padding: 18% 0;
    color: #ffffff;
}

.cover__overlay::before {
    content: "";
    display: block;
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity .5s ease-in-out;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}

@media all and (max-width: 768px) {
    .cover__overlay {
        padding: 90px 0 88px;
    }
}

@media all and (max-width: 320px) {
    .cover__overlay {
        padding: 90px 0 88px;
    }
}