.footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

@media all and (max-width: 700px) {
    .footer {
        flex-direction: column;
        padding: 0 24px 16px;
    }
}

@media all and (max-width: 350px) {
    .footer {
        align-items: flex-start;
    }
}