.footer {
    min-width: 320px;
    position: relative;
    display: flex;
    max-width: 92.5%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 92px 0 24px;
}

/* @media all and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        padding: 92px 0 24px;
    }
    
} */

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 64px 16px 24px;
        flex-direction: column;
    }
}